* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   text-decoration: none;
   list-style: none;
   /* border: 2px solid black; */
}

.container {
   max-width: 1000px;
   margin: auto;
   border-style: solid;
   overflow: hidden;
   height: 1000px;
}

.dropdown {
   position: relative;
   background-color: #4CAF50;
   color: white;
}

.dropdown a {
   display: block;
   padding: 15px;
}

.dropdown:hover {
   background-color: #3e8e41;
 }

.dropdown.left {
   float: left;
}

.dropdown.left .dropdown-content {
   left: 0;
}

.dropdown.right .dropdown-content {
   right: 0;
}

.dropdown.right {
   float: right;
}

.dropdown-content {
   position: absolute;
   display: none;
   background-color: #f9f9f9;
   z-index: 1;
   width: 100px;
}

.dropdown-content a {
   display: block;
   padding: 15px;
   color: black;
}

.dropdown-content a:hover {
   background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
   display: block;
}
