
#modal-link {
   display: block;
   margin: 0 auto;
   cursor: pointer;
   transition: 0.3s;
   border-radius: 5px;
}

#modal-link:hover {
   opacity: 0.7;
}

#modal {
   display: none;
   position: fixed;
   background-color: rgba(0, 0, 0, 0.9);
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   overflow: auto;
}

#close {
   display: block;
   position: absolute;
   top: 15px;
   right: 35px;
   color: #f1f1f1;
   font-size: 40px;
   font-weight: bold;
   cursor: pointer;
}

#close:hover {
   color: #bbb;
}

#modal-content {
   display: block;
   padding-top: 50px;
   width: 80%;
   max-width: 700px;
   margin: auto;
}

#modal-content, #caption {
   animation-name: zoom;
   animation-duration: 0.6s;
}

@keyframes zoom {
   from {transform: scale(0);}
   to {transform: scale(1);}
}

#caption {
   display: block;
   padding-top: 20px;
   color: #f1f1f1;
   text-align: center;
   margin: auto;
   width: 80%;
}