/*	blue: #477aac;
grey: #3B3B3B;
yellow: #e1e111;
white: #F0F0F0;*/

* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   /* border: 1px solid black; */
}

body {
   background: #f0f0f0;
   background-attachment: fixed;
}

[class*="col-"] {
   float: left;
   padding: 15px;
}

.row {
   display: table;
   position: relative;
	margin: auto;
	width: 100%;
	height: auto;
   clear: both;
}

#site-wrapper {
   width: 75%;
   max-width: 1024px;
   background: #F0F0F0;
   position: relative;
   margin: 0 auto;
   margin-top: 30px;
   text-align: center;
   box-shadow: -0.3px 0.3px 5px #999;
   padding: 0;
}

#header {
   background: #19242C;
   background: #12171A;
}

#logo-wrapper {
   margin-bottom: 10px;
   clear: both;
}

#title {
   max-width: 688;
   position: absolute;
   right: 0;
   color: #FFEE00;
   font-family: 'Courgette', cursive, sans-serif;
   text-shadow: 4px 4px 5px black;
}

#menu ul {
   list-style: none;
   align-items: center;
   justify-content: space-between;
}

#menu ul li {
   padding: 15px;
   font-weight: bold;
   font-size: 17px;
}

#menu a {
   color: #F0F0F0;
}

#menu li:hover {
   background: grey;
   border-radius: 3px;
}

#main-title {
	padding-top: 80px;
	padding-bottom: 60px;
	font-size: 40px;
	font-family: "Courgette", sans-serif;
}

#footer {
   background: #19242C;
   color: white;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   padding: 0;
}

#subscribe-wrapper {
   background: #CCD550;
   color: black;
   font-weight: bold;
   margin: 20px;
}

#subscribe-message {
   font-size: 20px;
   margin-bottom: 30px;
   text-align: left;
}

#email {
   background: #C4C4C4;
   height: 30px;
   padding: 5px;
   border: none;
}

#subscribe-button {
   background: #19242C;
   color: white;
   height: 30px;
   padding: 0 10px;
   margin-left: 20px;
   border: none;
}

/* LARGE (lg) SCREEN SIZE */

@media all and (min-width: 1200px) {

   .col-lg-12 { width:100%; }
   .col-lg-11 { width:91.66666667%; }
   .col-lg-10 { width:83.33333333%; }
   .col-lg-9 { width:75%; }
   .col-lg-8 { width:66.66666667%; }
   .col-lg-7 { width:58.33333333%; }
   .col-lg-6 { width:50%; }
   .col-lg-5 { width:41.66666667%; }
   .col-lg-4 { width: 33.33333333%; }
   .col-lg-3 { width: 25%; }
   .col-lg-2 { width: 16.66666667%; }
   .col-lg-1 { width: 8.33333333%; }
   .col-lg-0 { display:none; }

   #logo {
      padding: 15px;
   }

   #title {
      font-size: 70px;
      margin-top: 55px;
   }
}

/* MEDIUM (md) SCREEN SIZE */

@media all and (max-width: 1199px) and (min-width: 992px) {

   .col-md-12 { width:100%; }
   .col-md-11 { width:91.66666667%; }
   .col-md-10 { width:83.33333333%; }
   .col-md-9 { width:75%; }
   .col-md-8 { width:66.66666667%; }
   .col-md-7 { width:58.33333333%; }
   .col-md-6 { width:50%; }
   .col-md-5 { width:41.66666667%; }
   .col-md-4 { width: 33.33333333%; }
   .col-md-3 { width: 25%; }
   .col-md-2 { width: 16.66666667%; }
   .col-md-1 { width: 8.33333333%; }
   .col-md-0 { display:none; }

   #logo {
      padding: 0px;
   }
   
   #title {
      font-size: 5vw;
      margin-top: 20px;
   }
}

/* SMALL (sm) SCREEN SIZE */

@media all and (max-width: 991px) and (min-width: 768px) {

   .col-sm-12 { width:100%; }
   .col-sm-11 { width:91.66666667%; }
   .col-sm-10 { width:83.33333333%; }
   .col-sm-9 { width:75%; }
   .col-sm-8 { width:66.66666667%; }
   .col-sm-7 { width:58.33333333%; }
   .col-sm-6 { width:50%; }
   .col-sm-5 { width:41.66666667%; }
   .col-sm-4 { width: 33.33333333%; }
   .col-sm-3 { width: 25%; }
   .col-sm-2 { width: 16.66666667%; }
   .col-sm-1 { width: 8.33333333%; }
   .col-sm-0 { display:none; }

   #logo {
      padding: 0px;
      margin-top: 20px;
   }   

   #title {
      font-size: 7vw;
      margin-top: 20px;
   }

   #email {
      margin-bottom: 10px;
   }

   #subscribe-button {
      margin: 0;
   }
}

/* EXTRA SMALL (xs) SCREEN SIZE */

@media all and (max-width: 767px) and (min-width: 600px) {

   .col-xs-12 { width:100%; }
   .col-xs-11 { width:91.66666667%; }
   .col-xs-10 { width:83.33333333%; }
   .col-xs-9 { width:75%; }
   .col-xs-8 { width:66.66666667%; }
   .col-xs-7 { width:58.33333333%; }
   .col-xs-6 { width:50%; }
   .col-xs-5 { width:41.66666667%; }
   .col-xs-4 { width: 33.33333333%; }
   .col-xs-3 { width: 25%; }
   .col-xs-2 { width: 16.66666667%; }
   .col-xs-1 { width: 8.33333333%; }
   .col-xs-0 { display:none; }

   #site-wrapper {
      width: 100%;
      margin-top: 0px;
   }

   #logo-wrapper {
      padding-top: 20px;
   }

   #logo {
      padding: 0px;
   }

   #title {
      font-size: 10vw;
   }

   #menu {
      margin-top: 25px;
      border-top: 2px solid #505050;
      padding: 10px;
   }

   #menu ul li {
      font-size: 25px;
   }

   #footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      clear: both;
   }

   #email {
      margin-bottom: 10px;
   }

   #subscribe-button {
      margin: 0;
   }
}

@media all and (max-width: 599px) {

   .col-xs-12 { width:100%; }
   .col-xs-11 { width:91.66666667%; }
   .col-xs-10 { width:83.33333333%; }
   .col-xs-9 { width:75%; }
   .col-xs-8 { width:66.66666667%; }
   .col-xs-7 { width:58.33333333%; }
   .col-xs-6 { width:50%; }
   .col-xs-5 { width:41.66666667%; }
   .col-xs-4 { width: 33.33333333%; }
   .col-xs-3 { width: 25%; }
   .col-xs-2 { width: 16.66666667%; }
   .col-xs-1 { width: 8.33333333%; }
   .col-xs-0 { display:none; }

   #site-wrapper {
      width: 100%;
      margin-top: 0px;
      box-shadow: none;
   }

   #logo-wrapper {
      padding-top: 10px;
   }

   #logo {
      padding: 0px;
   }

   #title {
      font-size: 10vw;
      padding-top: 0;
   }

   #menu {
      border-top: 2px solid #505050;
      padding: 10px;
   }

   #menu ul li {
      font-size: 20px;
   }

   #email {
      margin-bottom: 10px;
   }

   #subscribe-button {
      margin: 0;
   }

   #footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      clear: both;
   }
}