* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.flexbox {
   display: flex;
   flex-wrap: wrap;
}

.box {
   background-color: blue;
   border: 1px solid black;
   flex: 1 25%;
   text-align: center;
   padding: 20px;
}

@media all and (max-width: 768px) {

   .box {
      flex: 1 50%;
   }
}

@media all and (max-width: 400px) {

   .box {
      flex: 1 100%;
   }
}