#todo-list {
  list-style: none;
}

input {
  padding: 5px 8px;
}

input[type=submit] {
  outline: none;
  border: none;
  background-color: #01579b;
  color: #fff;
  padding: 7px 8px;
  cursor: pointer;
}

.todo-item {
  display: inline-block;
  background-color: #2196f3;
  color: #fff;
  padding: 10px 12px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}