* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  margin: 10px auto;
  border: 5px solid #ccc;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top-color: black;
  border-left-color: black;
  animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
  100% {
    transform: rotate(720deg);
  }
}