* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   box-sizing: border-box;
   /* border: 1px solid black; */
}

.header {
   /* background: #19242C; */
   background: #12171A;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 10px;
}

.logo-wrapper {
   padding: 8px;
}

.logo {
   width: 100%;
}

.title {
   max-width: 688px;
   color: #FFEE00;
   text-align: center;
   font-family: 'Courgette', cursive, sans-serif;
   text-shadow: 4px 4px 5px black;
   padding: 10px;
}

.topnav {
   background: #12171A;
}

.topnav a {
   display: none;
   opacity: 0;
   color: #F0F0F0;
   color: white;
   text-align: center;
   padding: 10px 0;
   height: 50px;
   transition: opacity 1s;
}

.topnav a:hover {
   background: #ddd;
   color: black;
}

.topnav-icon {
   border: none;
   background-color: #12171A;
   color: white;
   padding: 0 10px 10px 15px;
}

.topnav-icon:focus {
   outline: none;
}

.topnav-icon i, .topnav-icon span {
   display: block;
}

.topnav-icon i {
   /* color: #FFEE00; */
   font-size: 25px;
}